html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

main {
    margin-top: 3rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer-fix {
    height: 56px;
}

.homepage-quote {
    padding-top: 8rem;
}

.logo {
    margin-left: 1rem;
}

.logout-button {
    margin-right: 1rem;
}

p {
    margin-top: 1.5rem;
}

.form {
    margin-top: 2rem;
}


/* I override bootstrap classes below */

.container {
    max-width: 700px;
}

.navbar {
    background-color: #BDD2FA;
    box-shadow: 0 0.25rem 0.75rem #BDD2FA;
}

.navbar-light .navbar-brand {
    color: #263d66;
}

.navbar-brand {
    font-size: 3.2rem;
    font-weight: 600;
}

tr .row {
    padding: 0 1.5rem;
}

.table {
    margin-top: 1rem;
}

.table thead {
    height: 52px;
    vertical-align: middle;
}