<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<nav th:fragment="nav" class="navbar navbar-expand-lg sticky-top navbar-light">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a sec:authorize="isAnonymous()" href="/" class="navbar-brand">
                <img src="/img/calories-calculator_64.png" alt="kalOrion logo" width="64" height="64"
                     class="d-inline-block align-text-top logo">
                kalOrion</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/fooddiary/{date}(date=${#dates.format(#dates.createNow(),'yyyy-MM-dd')})}" class="navbar-brand">
                <img src="/img/calories-calculator_64.png" alt="kalOrion logo" width="64" height="64"
                     class="d-inline-block align-text-top logo">
                kalOrion</a>
            <span class="navbar-text">
      Licz kalorie i zrób formę na lata - nie na lato!
        </span>
        </div>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <button class="btn logout-button btn-outline-dark" type="submit">Wyloguj</button>
        </form>
    </div>
</nav>