<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kalOrion - kalkulator kalorii</title>
</head>
<body>
<h1>Podaj swoje dane:</h1>

<form method="post" th:action="@{/calculateintake}" th:object="${userDTO}" enctype="multipart/form-data">
    <div>
        <label for="nameInput" >Nazwa użytkownika</label>
    </div>
    <div>
        <input id="nameInput" type="text" th:field="*{userName}" required>
    </div>
    <br>
    <div>
        <label for="dateOfBirthInput" >Data urodzenia:</label>
    </div>
    <div>
        <input id="dateOfBirthInput" type="date" th:field="*{dateOfBirth}" value="01.01.2000" required>
    </div>
    <br>
    <div>Płeć:
    <div th:each="sex : ${T(pl.swierzewskipiotr.kalorioncaloriecalculator.enums.Sex).values()}">
        <input th:id="'sexInput_' + ${sex.name}" type="radio" th:value="${sex}" th:field="*{sex}"></input>
        <label th:for="'sexInput_' + ${sex.name}" th:text="${sex.description}"></label>
    </div>
    </div>
    <br>
    <div>
        <label for="heightInput" >Wzrost (cm):</label>
    </div>
    <div>
    <input id="heightInput" type="number" th:field="*{heightInCms}" value="170" required>
    </div>
    <br>
    <div>
        <label for="weightInput" >Waga (kg):</label>
    </div>
    <div>
        <input id="weightInput" type="number" th:field="*{weightInKgs}" required>
    </div>
    <br>
    <div>Dzienna aktywność fizyczna:
    <div th:each="pal : ${T(pl.swierzewskipiotr.kalorioncaloriecalculator.enums.PhysicalActivityLevels).values()}">
    <input th:id="'palInput_' + ${pal.name}" type="radio" th:value="${pal}" th:field="*{pal}"></input>
    <label th:for="'palInput_' + ${pal.name}" th:text="${pal.getDescription}"></label>
    </div>
    </div>
    <br>
    <div>
        <button type="submit">Wylicz!</button>
    </div>
</form>

</body>
</html>