<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<nav th:replace="fragments/navigation :: nav"></nav>

<div class="container">
    <main>
        <h4>Podaj swoje dane:</h4>
        <form class="form needs-validation" method="post" th:action="@{/fooddiary/update/{id}(id=${mealDTO.id})}"
              th:object="${mealDTO}"
              enctype="multipart/form-data">

            <div class="row mb-4">
                <label for="weight" class="col-sm-3 col-form-label">Waga (g)</label>
                <div class="col-sm-9">
                    <input id="weight" class="form-control" type="number" th:field="*{weight}">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('weight')}"
                           th:errorclass="error" th:errors="*{weight}"></small>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary">Wylicz</button>
                </div>
            </div>
        </form>
    </main>
</div>

<div class="footer-fix"></div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>