<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<nav th:replace="fragments/navigation :: nav"></nav>

<div class="container">
    <main>
        <h4>Edytuj wagę:</h4>
        <form class="form needs-validation" novalidate method="post"
              th:action="@{/fooddiary/{date}/update/{id}(date=${date}, id=${mealDTO.id})}"
              th:object="${mealDTO}"
              enctype="multipart/form-data">

            <div class="row mb-4">
                <label for="weightInput" class="col-sm-3 col-form-label">Waga (g)</label>
                <div class="col-sm-5">
                    <input id="weightInput" class="form-control" type="number" th:field="*{weight}">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('weight')}"
                           th:errorclass="error" th:errors="*{weight}"></small>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </div>
        </form>

        <div class="product-info-table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2" th:text="${mealDTO.product.name}">
                    </th>
                </tr>
                </thead>
                <tbody class="text-muted small">
                <tr class>
                    <th>Wartość energetyczna</th>
                    <td th:text="${mealDTO.product.macroPer100g.kcal} + ' kcal'"></td>
                </tr>
                <tr>
                    <th>Białko</th>
                    <td th:text="${#numbers.formatDecimal(mealDTO.product.macroPer100g.protein,1,1)} + ' g'"></td>
                </tr>
                <tr>
                    <th>Tłuszcz</th>
                    <td th:text="${#numbers.formatDecimal(mealDTO.product.macroPer100g.fat,1,1)} + ' g'"></td>
                </tr>
                <tr>
                    <th>Węglowodany</th>
                    <td th:text="${#numbers.formatDecimal(mealDTO.product.macroPer100g.carb,1,1)} + ' g'"></td>
                </tr>
                </tbody>
                <tfoot class="text-muted small">
                <tr>
                    <th>
                    </th>
                    <th>/ 100 g produktu
                    </th>
                </tr>
                </tfoot>
            </table>
            <p class="text-info text-center">Błędne dane? <a
                    th:href="@{/fooddiary/{date}/product/edit/{id}(date=${date}, id=${mealDTO.product.id})}">Popraw!</a> Wszyscy użytkownicy będą wdzięczni :)
            </p>
        </div>
    </main>
</div>

<div class="footer-fix"></div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>