<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<nav th:replace="fragments/navigation :: nav"></nav>

<div class="container">
    <main>
        <h4 th:text="${greeting}"></h4>
        <p>Kliknij <a th:href="@{/userform}">tutaj</a>, by zacząć działać!</p>

        <figure class="text-end homepage-quote">
            <blockquote class="blockquote">
                <p>Gdybym dostawał centa za każdą rozmowę z ludźmi, którzy chcieli zrzucić wagę, ale nie mieli ochoty
                    liczyć kalorii... sami wiecie, co by było. To równie sensowne co chcieć przejechać samochodem na
                    drugi koniec stanu bez spoglądania na poziom paliwa w baku. Czy się uda? Może tak, ale będzie to
                    trudniejsze i bardziej stresujące niż powinno.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Michael Matthews <cite title="Source Title">BIGGER LEANER STRONGER</cite>
            </figcaption>
        </figure>
    </main>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>