<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kalOrion - kalkulator kalorii</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
<h1>kalOrion App</h1>
<h2>Lista dostępnych produktów:</h2>
<div th:each="product : ${products}">
    <div id="product">
    <span><b th:text="${product.name}"></b></span>
    <div>Wartości odżywcze na 100g:</div>
    <div>
        <span th:text="${product.kcalPer100g}"></span> kcal
    </div>
    <div>
        <span th:text="${product.proteinsPer100g}"></span> białka
    </div>
    <div>
        <span th:text="${product.fatsPer100g}"></span> tłuszczów
    </div>
    <div>
        <span th:text="${product.carbsPer100g}"></span> węglowodanów
    </div>
    </div>
    <br>
</div>
</body>
</html>